@model MVCLibrary.Models.EntityFramework.BlogTBL
@{
    ViewBag.Title = "TakeBlog";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using (Html.BeginForm("UpdateBlog", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div style="margin-top:15px">
    <label>Bloq Id</label>
    @Html.TextBoxFor(b => b.Id, new { @class = "form-control" })
</div>
<div style="margin-top:15px">
    <label>Başlıq</label>
    @Html.TextBoxFor(b => b.Title, new { @class = "form-control" })
</div>
<div style="margin-top:15px">
    <label>Bloq haqqında əlavə məlumat</label>
    @Html.TextAreaFor(b => b.Detail, new { @class = "form-control" })
</div>
<div style="margin-top:15px">
    <button class="btn btn-info">Güncəllə</button>
</div>
}

