@model MVCLibrary.Models.EntityFramework.AdvertisingTBL
@{
    ViewBag.Title = "NewAdvertising";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using (Html.BeginForm("NewAdvertising", "Advertising", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="margin-top:15px">
        <label>Başlıq</label>
        @Html.TextBoxFor(b => b.Title, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Şəkil</label>
        <input name="Picture" type="file" required />
    </div>
    <div style="margin-top:15px">
        <label>Mövzu</label>
        @Html.TextAreaFor(b => b.Detail, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Yeni reklam əlavə edin</button>
    </div>
}

