@using MVCLibrary.Models.EntityFramework
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<CategoryTBL>
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/MemberLayout.cshtml";
}
<div style="margin-top:-30px; margin-bottom:10px">
    <h3 style="text-align:left"><b><em>#Janrlar</em></b></h3>
</div>
<table class="table table-striped">
    <tr style="background-color:#66ff99">
        <th><em>Ad</em></th>
        <th><em>Uyğun Kitablar</em></th>
    </tr>
    @foreach (var info in Model)
    {
        <tr>
            <td>@info.Name</td>
            <td>
                <a href="/Profil/CategoryBook/@info.Id" class="btn btn-default"
                   style="background-color: darkseagreen; color:black">
                    <i class="fa fa-book" style="margin-right:5px"></i>Uyğun Kitablar
                </a>
            </td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Category",new { page }), new PagedListRenderOptions
{
    LiElementClasses=new List<string>
    { "page-link" }
})
