@model MVCLibrary.Models.EntityFramework.BookTBL
@{
    ViewBag.Title = "TakePicture";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using (Html.BeginForm("UpdatePicture", "Book", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="margin-top:15px">
        @Html.HiddenFor(b => b.Id)
    </div>
    <div style="margin-top:15px">
        <img src="@Model.Picture" style="width:250px; height:400px" />
        <br />
        <br />
        <input type="file" name="Picture" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-success">Güncəllə</button>
    </div>
}
