
@{
    ViewBag.Title = "Weather";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<a class="weatherwidget-io" href="https://forecast7.com/en/40d5949d63/sumqayit/" data-label_1="Sumqayıt" data-label_2="Azərbaycan" data-theme="original">Sumqayıt Hava məlumatı</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br /> <br />
<a class="weatherwidget-io" href="https://forecast7.com/en/40d4149d87/baku/" data-label_1="BAKI" data-label_2="Azərbaycan" data-theme="original">BAKI</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br /> <br />
<a class="weatherwidget-io" href="https://forecast7.com/en/41d0128d98/istanbul/" data-label_1="İSTANBUL" data-label_2="Türkiyə" data-theme="original">İSTANBUL</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br /> <br />
<a class="weatherwidget-io" href="https://forecast7.com/en/39d9332d86/ankara/" data-label_1="ANKARA" data-label_2="Türkiyə" data-theme="original">ANKARA Türkiyə</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>

